{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="{ % static 'images/favicon.png'%}" type="image/x-icon">

    <title>EngWings -> Content</title>




    <!-- Custom styles for this template -->
    <link href="{% static 'css/content.css'%}" rel="stylesheet" />

</head>

<body>
    <section class="content_section">
        <div class="content_container">
            <div class="item1">
                <video class="front" controls="controls">
                    <source src="{{front.video.url}}" type="video/mp4" />
                    <h3 class="text-center mt-2 mb-2"> {{video.title}}</h3>

                </video>

            </div>
            <div class="item2">
                <div class="scroll_bar">
                    <div class="col">
                        {% for video in videos %}
                        <div class="OptionContainer" height="300px">
                            <a href="/front/{{video.title}}">

                                <!-- <video src="{{video.video.url}}"></video> -->
                                <div class="scrolitem">

                                    <div class="thumb">
                                        <img src="{{video.thumbnail.url}}" alt="">
                                    </div>

                                    <div class="disc">
                                        <p class="text-center mt-2 mb-2"> {{video.title}}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>



        </div>
    </section>
</body>



</html>